html, body {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-top: 10px;
}
h2, h1 {
    text-align: center;
}
#output {
    font-size: 3rem;
    color: green;
    background-color: transparent;
    padding: 2px 12px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 4px;
}
button {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    background-color: green;
    padding: 10px 20px;
    margin: 8px;
    color: white;
}